/data.xml
/hudredk_synthea_covid19_csv/allergies.csv
/hudredk_synthea_covid19_csv/supplies.csv
/hudredk_synthea_covid19_csv/.gitignore
/hudredk_synthea_covid19_csv/careplans.csv
/hudredk_synthea_covid19_csv/conditions.csv
/hudredk_synthea_covid19_csv/devices.csv
/hudredk_synthea_covid19_csv/encounters.csv
/hudredk_synthea_covid19_csv/imaging_studies.csv
/hudredk_synthea_covid19_csv/immunizations.csv
/hudredk_synthea_covid19_csv/medications.csv
/hudredk_synthea_covid19_csv/observations.csv
/hudredk_synthea_covid19_csv/organizations.csv
/hudredk_synthea_covid19_csv/patients.csv
/hudredk_synthea_covid19_csv/payers.csv
/hudredk_synthea_covid19_csv/payer_transitions.csv
/hudredk_synthea_covid19_csv/procedures.csv
/hudredk_synthea_covid19_csv/providers.csv
